<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать запись в блоге</title>
</head>
<body>
    <h1>Создать новую запись в блоге</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">Заголовок:</label><br>
        <input type="text" id="title" name="title"><br><br>
        
        <label for="description">Описание:</label><br>
        <textarea id="description" name="description"></textarea><br><br>
        
        <label for="image">Изображение:</label><br>
        <input type="file" id="image" name="image"><br><br>
        
        <div class="mb-3">
            <label for="tags">Теги:</label><br>
            <select id="tags" name="tags">
                <option value="" disabled selected>Выберите существующий тег или создайте новый</option>
                {% for tag in existing_tags %}
                    <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>
            <input type="text" name="new_tag" placeholder="Новый тег">
        </div>
        
        <input type="submit" value="Создать">
    </form>
</body>
</html>
